.noMargen {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        background-color: #263f9a  ;
        padding: 1rem 0 !important;
        border: none !important;
}

footer svg {
    fill: #d6e8f5 ;
    width: 50px;
    height: 20px;
}

.colorTexto{
    color:#d6e8f5 !important;
}
