
.footer{
    grid-area: footer;
    background-color:  #242323  ;
}

.footer_contenido { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    margin-bottom: 20px;
    color: #ffffff;
    padding: 10px;
    justify-content: center;
}

.footer_seccion a, .links_redes_sociales { 
    color: #ffffff; 
    text-decoration: none; 
    display: block; 
    margin: 5px 10px;
    display: flex;

}

.footer_seccion svg{
    margin: 2px;
}

