@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url(/Bootstrap/css/bootstrap.css);
@import url(/Bootstrap/css/bootstrap.min.css);
@import url(/css/nav.css);
@import url(/css/header.css);
@import url(/css/main.css);
@import url(/css/footer.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden !important; /* Evitar desbordamiento horizontal */
}

body {
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden !important;
}

.grid-container {
    display: grid;
    gap: 0px;
    grid-template-areas: 
        "header"
        "navbar"
        "main"
        "footer";
    max-width: 100% !important; /* Asegura que no exceda el ancho de la pantalla */
    overflow-x: hidden !important;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0px;
    padding: 0px;
    text-align: center;
}

/* Estilo para el mensaje de carrito */
.mensaje-carrito {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #343a40; /* Color de fondo ajustado */
    color: #ffffff; /* Color del texto */
    padding: 15px 25px; /* Espaciado ajustado */
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    animation: fadeInOut 2.5s forwards;
    font-family: 'Roboto', sans-serif; /* Fuente ajustada */
}

.mensaje-carrito svg {
    margin-right: 15px;
    color: #28a745; /* Color del icono ajustado */
}

/* Animación de desvanecimiento */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px) translateX(-50%);
    }
    10% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
    90% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
    100% {
        opacity: 0;
        transform: translateY(20px) translateX(-50%);
    }
}