/* MAIN */
.main{
    grid-area: main;
    background-color: #ffffff ;
    height:auto;
}

/* Boostrap */
.cardFlex {
    display: flex;
    justify-content:center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.card img {
    width: 100%;       /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
    height: 350px;   
    object-fit: cover;
}
/* Estilo de los botones */
.btn {
    background-color: #14216d; ; /* Color base del botón (azul) */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
}

.btn:hover {
    background-color: #90a1d4; /* Color del botón cuando el ratón pasa por encima (azul clarito) */
    color: white; /* Color del texto cuando el ratón pasa por encima */
}

.btn:active { 
    background-color: #14216d; /* Color del botón cuando es presionado */ 
    color: white; 
}