@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100%;
}

.header {
    grid-area: header ;
    background-color: #141942;
}

.navbar{
    grid-area: navbar;
    background-color: #426bbd;
}

.sidebar{
    grid-area: sidebar ;
    background-color:  #14216d ;
    height:auto;
}

.main{
    grid-area: main;
    background-color: #89d1f3 ;
    height:auto;
}

.footer{
    grid-area: footer;
    background-color:  #90a1d4  ;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75) ;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template:
    "header header"
    "navbar navbar"
    "sidebar main"
    "footer footer";
}



@media (min-width: 600px) {
    .grid-container{
        /* grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas:
        "header  header"
        "navbar  navbar"
        "sidebar  main"
        "footer  footer" 
        ;*/
        grid-template-columns: 200px auto;
        grid-template:
        "header  header"
        "navbar  navbar"
        "sidebar  main"
        "footer  footer";
    }
}

@media (min-width: 900px) {
    .grid-container{
        grid-template-columns: 200px auto;
        grid-template:
        "header  header  header"
        "navbar  navbar  navbar"
        "sidebar main    main"
        "footer footer footer";
    }
}